@page
@model CustomersModel
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<table class="table" data-test-id="customers-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr data-test-id="customer-row" data-customer-id="@customer.Id">
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>
                    <a asp-page="./CustomerDetails" asp-route-customerId="@customer.Id" class="btn btn-primary btn-sm"
                        data-test-id="view-customer-details">View
                        Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", Model.PaginationModel)
